<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Darbuotojai</title>
</h:head>
<h:body>
	<h:form>
		<p:growl />
		<p:commandLink action="#{darbuotojaiView.create}" update="@form"
			value=" Create" />
		<p:dataTable value="#{darbuotojaiModel.darbuotojai}" var="darbuotojas">
			<p:column headerText="Vardas">
 #{darbuotojas.vardas}
 </p:column>
			<p:column headerText="Pavardė">
 #{darbuotojas.pavarde}
 </p:column>
			<p:column headerText="Operacijos">
				<p:commandLink
					actionListener="#{darbuotojaiView.update(darbuotojas.id)}"
					update="@form" value=" Update" resetValues="true" immediate="true" />
				<p:commandLink
					actionListener="#{darbuotojaiView.delete(darbuotojas.id)}"
					update="@form" value=" Delete" immediate="true">
					<p:confirm header="Patvirtinimas" message="Ar norite istrinti?"
						icon="ui-icon-alert" />
				</p:commandLink>
			</p:column>
		</p:dataTable>
		<p:outputPanel
			rendered="#{darbuotojaiModel.redaguojamasDarbuotojas != null}">
			<p>Redagavimo forma:</p>
			<p>
				<p:outputLabel for="vardas">Vardas:</p:outputLabel>
				<p:inputText id="vardas"
					value="#{darbuotojaiModel.redaguojamasDarbuotojas.vardas}"
					required="true"></p:inputText>
				<p:message for="vardas"></p:message>
			</p>
			<p>
				<p:outputLabel for="pavarde">Pavardė:</p:outputLabel>
				<p:inputText id="pavarde"
					value="#{darbuotojaiModel.redaguojamasDarbuotojas.pavarde}"></p:inputText>
				<p:message for="pavarde"></p:message>
			</p>
			<p>
				<p:commandButton value="Save"
					actionListener="#{darbuotojaiView.save()}" update="@form"></p:commandButton>
				<p:commandButton value="Cancel"
					actionListener="#{darbuotojaiView.cancel()}" update="@form"
					immediate="true"></p:commandButton>
			</p>
		</p:outputPanel>
		<p:confirmDialog global="true">
			<p:commandButton value="Taip" type="button"
				styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
			<p:commandButton value="Ne" type="button"
				styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		</p:confirmDialog>
	</h:form>
</h:body>
</html>
